[user]
	name = Paul Bryan
	email = pabryan@gmail.com
[core]
	editor = myemacs_blocking
[alias]
	ci = commit -a
	co = checkout
	st = status -a
	stat = status -a
	br = branch
	wdiff = diff --color-words
